span.active.focus,
span.active:focus,
span.focus,
span:active.focus,
span:active:focus,
span:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus {
	   outline: none;
}
