.list-filter-links ul {
    padding-left: 0;
    margin-bottom: 0;
}

.list-filter-links .sub-filter-links {
    padding-left: 15px;
    padding-top: 10px;
}


.list-filter-links .sub-filter-links li {
    padding: 10px 0 0 0;
}
 .list-filter-links .sub-filter-links li:first-child {
    padding: 0;
}